@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: var(--background-color); */
  background-color: #c6ac96;
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}


a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}







